 
    html{
        color: #229337;
       
        background: url("https://www.toptal.com/designers/subtlepatterns/patterns/congruent_pentagon.png");
       
        min-height: 100%;
        position: relative;
        -webkit-tap-highlight-color: #fed136;
    }
    
    body{      
      background: url("https://www.toptal.com/designers/subtlepatterns/patterns/congruent_pentagon.png");
      
      margin: 0;
      margin-bottom: 150px;
    }
    
    .navbar{
            
            background-color: #1abc9c !important;
            color: white; 
            border-bottom: 4px ; 
            
            opacity: 0.9;
            margin-bottom: 0;
    }
    .logo{
        font-weight: bold !important;
        
	    font-size: 22px; color: white; text-shadow: 0px 2px 3px #171717;
	
	    -webkit-box-shadow: 0px 2px 3px #1F8C33;
        -moz-box-shadow: 0px 2px 3px #1F8C33;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }
    
    li a{
      color: black !important;
      opacity: 1;      
    }
	
	.navbar, .dropdown-menu{
  background:rgba(255,255,255,0.25);
  border: none;
  opacity: 1;
  


}
#activosDrop, .navbar, #Drop{
  background-color: #1abc9c !important;
  color: white !important;
}
#activosDrop:hover{
  background-color: #0AE6BB !important;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
	background: white;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

.bg-4 { 
  background-color: #2f2f2f !important;
  color: #ffffff;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
#titulo{
  color: #1abc9c !important;
}
#texto{
  color: black;
  
}

#img-infraestructura, #img-inmueble, #img-semoviente, #img-combustible, 
#img-combustible, #img-usuario, #img-vehiculo{
height: 200px;
  width: 200px;
}

.my-5 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.hbtn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.blog-footer {
  
  padding: 2.5rem;
  color: #999;
  text-align: center;
  background-color: #474e5d;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
  
}
 #footerAbsolute {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;
  
}  
#footerContent{
  color: white !important;
}
.jumbotron{
  background:  white;
}

#homeContent, #homeContentCol{
  
  background-color: white !important;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
} 
.bgPrimero, .bgSegundo{
  background-color: #F2F3F4;
}
#inicio{
  color: #4CAF50;
  background: #f5f8fa;
}
#inicio1{
  background: #f5f8fa
}
input[type=checkbox] {
  transform: scale(1.2);
}
#formUsuarios{
  margin-left: 0.5em;
}
#checkOption{
  margin-left: 0.5em;
  margin-top: 6px;
}
@media screen and (max-width: 800px) {
  body{
    margin-bottom: 500px;
  }

}
@media screen and (max-width: 991px) {
  body{
    margin-bottom: 600px;
  }

}