body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1{
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.bg-1 { 
    background-image: url('https://www.acguanacaste.ac.cr/images/phocagallery/galeria-general/thumbs/phoca_thumb_l_pajaro-2.jpg');

    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    /* background-image: url("../img/header.jpg"); */
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 700px;
    
    /* color: #ffffff;  */
}
.encabezado{
    padding-top: 150px;
    padding-bottom: 100px;
}
.mainTitulo{
    font-size: 45px;
    /* font-weight: 700; */
    line-height: 50px;
    margin-bottom: 25px;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: black;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/congruent_pentagon.png");
}

.bg-4 { 
    /*background-color: #2f2f2f;  Black Gray */
    color: white !important;
    background-color: #474e5d;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
#logo{
  background-color: #4CAF50 !important;
  padding: 5px;
  margin: 10px;
  border: 8px;
}
#link{
  color: white;
}
.nav-tabs li a {
    color: #777;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #1abc9c;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
@media only screen and (max-device-width: 1024px) {
  .bg-1 {
      background-attachment: scroll;
  }
}

#img{
    display:block;
    margin:0 auto 0 auto;
}